/* For the page */

.page-node-107 {
  .webform-client-form-107 {
    .button--primary {
      background-color: $black;
      &:hover {
        background-color: lighten($basecolor, 25%);
      }
    }
  }
}