/*Settings for Wysiwig*/

.field-name-field-greeting {
  .cke_top {
    position: fixed;
    width: 335px;
    margin-left: -167px;
    left: 50%;
    top: 10%;
    border: 10px solid $grey;
    border-radius: 12px;
  }
}


.field-name-admiral-client-address {

  .cke_top {
    position: fixed;
    width: 335px;
    margin-left: -167px;
    left: 50%;
    top: 20%;
    border: 10px solid $grey;
    border-radius: 12px;
  }

}