.l-region--footer-3 {
  .block--menu-menu-social-connection--3,
  .block--menu-menu-social-connection--2 {
    display: inline-block;
    height: 38px;
    padding-top: 3px;
    @extend %hlist;
    float: left;
    margin-right: $horz-spacing-unit;
    padding-top: $vert-spacing-unit;
    padding-left: $horz-spacing-unit;
    h2.block__title {
      color: $basecolor;
    }
    ul.menu {
      padding: 0;
      margin: 0;
      li {
        margin-right: 5px;
        a {
          display: block;
          height: 34px;
          width: 34px;
        }
        a.facebook {
          @include replace-text('../images/icon_facebook.png', 0, 0);
        }
        a.linked-in {
          @include replace-text('../images/icon_facebook.png', 0, 0);
        }
      }
      li.last {
        margin-right: 0;
      }

    }
  }
}
