.footer-3 {
  .block--menu-menu-social-connection--2 {
    clear: both;
    padding-left: 14px;
    h2.block__title {
      color: $white;

    }
    ul.menu {
      padding: 0;
      margin: 0;
      li {
        margin-right: 5px;
        display: inline-block;
        float: left;
        a {
          display: block;
          height: 35px;
          width: 35px;
        }
        a.facebook {
          @include replace-text('../images/face-footer.png', 0, 0);
        }
        a.linked-in {
          @include replace-text('../images/link-footer.png', 0, 0);
        }
      }
      li.last {
        margin-right: 0;
      }

    }
  }
}
