.block--system-user-menu {
  display: inline-block;
  height: 38px;
  float: right;
  margin-right: 80px;
  @extend %hlist;
  ul.menu {
    margin: 0;
    padding: 0;
    li {
      padding-left: 0.4em;
      a{
        @include font-size(16px);
        text-decoration: none;
        line-height: 36px;
        padding-right: 0.4em;
      }
      &:after {
        @include font-size(22px);
        content: "|";
      }
    }
    li.last {
      &:after {
        display: none;
      }
      a{
        padding-right: 0;
      }
    }

  }

}